$main-color-1: #409eff;
$main-color-2: #66b1ff;
$main-color-3: #3375b9;
$main-color-4: #2a598a;
$main-color-5: #213d5b;

$gray-color-1: #f6f6f6;
$gray-color-2: #CFD3DC;
$gray-color-3: #A3A6AD;
$gray-color-4: #8D9095;
$gray-color-5: #6C6E72;
